:root {
  --main-color: rgba(86, 20, 184, 1); 
  --sec-color: rgba(68, 198, 253, 1); 
}

body {
  background: url('./img/bg.png');
  background-repeat:repeat;
}

.color-main{
  color:var(--main-color);
}

.color-secondary{
  color:var(--sec-color);
}
